.tooltip {
	font-size: 12px;
	transition: all 200ms;
	border-radius: 5px !important;
	padding-top: 2px !important;
	padding-bottom: 3px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.red-tooltip {
	color: whitesmoke !important;
	background-color: #f55858 !important;
}
