.engine-modal-transition-enter {
	opacity: 0;
}

.engine-modal-transition-enter-active {
	opacity: 1;
	transition: opacity 300ms;
}

.engine-modal-transition-exit {
	opacity: 1;
}

.engine-modal-transition-exit-active {
	opacity: 0;
	transition: opacity 300ms;
}
