:root {
	/* CSS HEX */
	--flame: #f05d23;
	--eerie-black: #191818;
	--title-black: #333;
	--alternate-black: #212529;
	--mint-cream: #effff9;
	--alternate-white: #ffffff;
	--big-dip-oruby: #9f2042;
	--space-cadet: #383248;

	/* CSS div properties */

	/* Header */
	--header-padding: 3px;
	--header-height: 30px;
	--maximized-window-title-margin-left: 12px;
	--header-icon-width: 46px;

	/* Model Selection */
	--model-selection-container-padding-bottom: 9px;
	--model-selection-container-padding-top: 12px;
	--model-selection-container-height: 200px;

	/* Modal */
	--inner-modal-header-height: 35px;
}

* {
	-webkit-font-smoothing: antialiased !important;
	text-rendering: optimizeLegibility !important;
	user-select: none;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-font-feature-settings: 'pnum';
	font-feature-settings: 'pnum';
	font-variant-numeric: proportional-nums;
}
body {
	background: var(--alternate-white);
	color: var(--eerie-black);
	height: calc(100% - var(--header-height));
	margin: 0;
	padding: 0;
}

html {
	height: calc(100vh - var(--header-height));
}

#app {
	width: 100%;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

h1 {
	font-family: Visby-Medium, sans-serif;
}

p {
	font-family: Visby, sans-serif;
}
