:root {
	/* CSS HEX */
	--flame: #f05d23;
	--eerie-black: #191818;
	--title-black: #333;
	--mint-cream: #f1fffa;
	--big-dip-oruby: #9f2042;
	--space-cadet: #383248;
}

* {
	-webkit-font-smoothing: antialiased !important;
	text-rendering: optimizeLegibility !important;
}

#app {
	width: 100%;
	height: 100%;
}
