.modal {
	display: flex;
	position: fixed;
	z-index: 1;
	left: 0;
	top: calc(var(--header-height) + 2 * var(--header-padding));
	width: 100%;
	height: calc(100% - (var(--header-height) + 2 * var(--header-padding)));
	align-items: center;
	justify-content: center;
}

.modal-inside-parent {
	position: relative;
	top: 0;
	height: 100%;
}
