.grid-dark::-webkit-scrollbar {
	height: 6px;
	background: var(--chakra-colors-thia-gray-600);
}

.grid-dark::-webkit-scrollbar-thumb {
	background: var(--chakra-colors-thia-gray-950);
}

.grid-light::-webkit-scrollbar {
	height: 6px;
	background: var(--chakra-colors-thia-gray-100);
}

.grid-light::-webkit-scrollbar-thumb {
	background: var(--chakra-colors-thia-gray-950);
}
