.model-selection-container {
	width: 100%;
	height: var(--model-selection-container-height);
	/* background-color: rgb(194, 194, 194); */
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	overflow-y: hidden;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: var(--model-selection-container-padding-bottom);
	padding-top: var(--model-selection-container-padding-top);
}

.model-selection-container::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	margin-top: 2px;
}
.model-selection-container::-webkit-scrollbar-thumb {
	background: #4b4a4b;
	border-radius: 10px;
}
.model-selection-container::-webkit-scrollbar-thumb:hover {
	background: #707070;
}
.model-selection-container::-webkit-scrollbar-track {
	background: rgba(219, 219, 219, 0.05);
	border-radius: 10px;
	box-shadow: inset -1px 1px 22px #e6e6e6;
}
