.list-dark::-webkit-scrollbar {
	width: 6px;
	background: var(--chakra-colors-thia-gray-600);
}

.list-dark::-webkit-scrollbar-thumb {
	background: var(--chakra-colors-thia-gray-950);
}

.list-light::-webkit-scrollbar {
	width: 6px;
	background: var(--chakra-colors-thia-gray-100);
}

.list-light::-webkit-scrollbar-thumb {
	background: var(--chakra-colors-thia-gray-950);
}
