.toggle-select-model-enter {
	opacity: 0;
}

.toggle-select-model-enter-active {
	opacity: 1;
	transition: opacity 300ms ease-in;
	will-change: opacity;
}

.toggle-select-model-exit {
	opacity: 1;
}

.toggle-select-model-exit-active {
	opacity: 0;
	transition: opacity 200ms ease-in;
	will-change: opacity;
}

.toggle-select-model-inner-exit {
	transform: scale(1);
}

.toggle-select-model-inner-exit-active {
	transform: scale(0.7);
	transition: transform 350ms ease-out;
	will-change: transform;
}
