.inner-modal-div {
	width: 55%;
	height: 95%;
	display: flex;
	flex-direction: column;
	background-color: var(--alternate-white);
	border-radius: 10px;
	will-change: width;
	transition: width 125ms ease;
}

@media screen and (max-width: 1450px) {
	.inner-modal-div {
		width: 65%;
	}
}

@media screen and (max-width: 1200px) {
	.inner-modal-div {
		width: 75%;
	}
}

@media screen and (max-width: 950px) {
	.inner-modal-div {
		width: 85%;
	}
}

.inner-modal-div-shadow {
	-webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.71);
	box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.71);
}
