.select-model-header-info {
	width: 30%;
	max-width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 10px;
}

.header-name {
	font-family: Visby-Extra-Bold, sans-serif;
	font-weight: normal;
	font-size: 25px;
}
