.image-classification-selection {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}
.image-classification-selection::-webkit-scrollbar {
	width: 8px;
}
.image-classification-selection::-webkit-scrollbar-thumb {
	background: #4b4a4b;
	border-radius: 10px;
}
.image-classification-selection::-webkit-scrollbar-thumb:hover {
	background: #707070;
}
.image-classification-selection::-webkit-scrollbar-track {
	background: rgba(219, 219, 219, 0.05);
	border-radius: 10px;
	/* box-shadow: inset -1px 1px 22px #e6e6e6; */
}

.description-header {
	width: 100%;
	height: 400px;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.description-header-image-wrapper {
	width: 49%;
	height: 300px;
}

.description-header-image {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
}

.description-header-vertical-divider {
	width: 2%;
}

.description-header-info {
	width: 49%;
	min-width: 300px;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.description-header-info-inner {
	width: 90%;
	height: 80%;
	margin-top: 5px;
}

.description-header-info-body {
	margin-top: 15px;
	font-size: 20px;
}

.description-content {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.description-content-use-cases {
	display: flex;
	flex-direction: column;
	width: 100%;
}
